@model DownloaderDomain.Abstract.IMovieExtendedInfo

<div class="well">
    <h3>
        <strong>
           <a href="@Model.Link">@Model.Raw</a>
        </strong>
    </h3>
    <table>
        <tr>
            <td>Size: @Model.Size</td>
            <td>Seeds: @Model.Seeds</td>
            <td>Peers: @Model.Peers</td>
        </tr>
    </table>
</div>